<h1><%= t('.greeting', name: @admin.name) %></h1>

<h2><%= t('.button_header') %></h2>
<%= link_to t('.view_schedules'), root_path, class: 'ui button tiny' %>
<%= link_to t('.add_employee'), new_employee_path, class: 'ui button tiny' %>

<h2><%= t('.employees_header') %></h2>
<h3><%= t('.shift_lead_label') %></h3>
  <% @admin.employees.shift_leads.each do |employee| %>
    <li class="active_employee">
      <%= render partial: 'employees/shift_lead', locals: { employee: employee } %>
    </li>
  <% end %>

<h3><%= t('.team_member_label') %></h3>
  <% @admin.employees.team_members.each do |employee| %>
    <li class="active_employee">
      <%= render partial: 'employees/team_member', locals: { employee: employee } %>
    </li>
  <% end %>

<h3><%= t('.inactive_label') %></h3>
  <% @admin.employees.inactive_employees.each do |employee| %>
    <li class="inactive_employee">
      <%= render partial: 'employees/inactive_employee', locals: { employee: employee } %>
    </li>
  <% end %>
