<%= form_for(@schedule) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.label :business_year %>
    <%= f.text_field :business_year %>
  </p>

  <p>
    <%= f.label :business_week %>
    <%= f.text_field :business_week %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
