<div class='container-fluid'>
  <h2>
    Week of
    <%= @schedule.grab_dates(@schedule.business_year, @schedule.business_week, 1) %>
    to <%= @schedule.grab_dates(@schedule.business_year, @schedule.business_week, 7) %>,
    <%= @schedule.business_year %>
  </h2>
  <span id='printPageButton'>Printable schedule</span>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <%= render 'schedules/table/header_days' %>
    </thead>
    <tbody>
      <%= render 'schedules/table/header_dates' %>
      <%= render 'schedules/table/managers' %>
      <%= render 'schedules/table/shift_leads' %>
      <%= render 'schedules/table/team_members' %>
    </tbody>
  </table>
</div>
