<%= form_for(@set_time) do |f| %>
<%= f.submit 'Finalize schedule' %>
  <table class="ui green celled striped table unstackable fixed">
    <thead>
      <%= render 'schedules/table/header_days' %>
    </thead>
    <tbody>
      <%= render 'schedules/table/header_dates' %>
      <%= render 'schedules/table/managers', f: f %>
      <%= render 'schedules/table/shift_leads', f: f %>
      <%= render 'schedules/table/team_members', f: f %>
    </tbody>
  </table>
<% end %>

