<h1>
  Week of
  <%= Date.commercial(2017, 10, 1).strftime('%m/%d') %>
  to <%= Date.commercial(2017, 10, 7).strftime('%m/%d') %>,
  <%= @schedule.biz_year %>
</h1>
<table class="ui green celled striped table unstackable fixed">
  <thead>
    <%= render 'schedules/table/header_days' %>
  </thead>
  <tbody>
    <%= render 'schedules/table/header_dates' %>
    <%= render 'schedules/table/managers' %>
    <%= render 'schedules/table/shift_leads' %>
    <%= render 'schedules/table/team_members' %>
  </tbody>
</table>
