<h1><%= t('.header', week: @schedule.biz_week) %></h1>
<table class="ui green celled striped table unstackable fixed table">
  <%= render 'schedules/table/header' %>
  <%= render 'schedules/table/managers' %>
  <%= render 'schedules/table/shift_leads' %>
  <%= render 'schedules/table/team_members' %>
</table>
