<h1>
  Week of
  <%= @schedule.get_dates(@schedule.biz_year, @schedule.biz_week, 1) %>
  to <%= @schedule.get_dates(@schedule.biz_year, @schedule.biz_week, 7) %>,
  <%= @schedule.biz_year %>
</h1>

<% if current_admin == @schedule.admin %>
  <%= render 'add_remove_employees' %>
  <%= link_to t('.set_schedule'), set_schedule_path(@schedule) %>
<% end %>

<table class="ui green celled striped table unstackable fixed">
  <thead>
    <%= render 'schedules/table/header_days' %>
  </thead>
  <tbody>
    <%= render 'schedules/table/header_dates' %>
    <%= render 'schedules/table/managers' %>
    <%= render 'schedules/table/shift_leads' %>
    <%= render 'schedules/table/team_members' %>
  </tbody>
</table>

<h3>Created shifts</h3>
<% @schedule.shifts.each do |shift| %>
   <p>
    <%= shift.start_time %> to <%= shift.end_time %>
   </p>
<% end %>
