<tr class='right aligned'>
  <td> </td>
  <td><%= @schedule.get_dates(@schedule.biz_year, @schedule.biz_week, 1) %></td>
  <td><%= @schedule.get_dates(@schedule.biz_year, @schedule.biz_week, 2) %></td>
  <td><%= @schedule.get_dates(@schedule.biz_year, @schedule.biz_week, 3) %></td>
  <td><%= @schedule.get_dates(@schedule.biz_year, @schedule.biz_week, 4) %></td>
  <td><%= @schedule.get_dates(@schedule.biz_year, @schedule.biz_week, 5) %></td>
  <td><%= @schedule.get_dates(@schedule.biz_year, @schedule.biz_week, 6) %></td>
  <td><%= @schedule.get_dates(@schedule.biz_year, @schedule.biz_week, 7) %></td>
</tr>
