<tr>
  <td> </td>
  <td><%= @schedule.grab_dates(@schedule.business_year, @schedule.business_week, 1) %></td>
  <td><%= @schedule.grab_dates(@schedule.business_year, @schedule.business_week, 2) %></td>
  <td><%= @schedule.grab_dates(@schedule.business_year, @schedule.business_week, 3) %></td>
  <td><%= @schedule.grab_dates(@schedule.business_year, @schedule.business_week, 4) %></td>
  <td><%= @schedule.grab_dates(@schedule.business_year, @schedule.business_week, 5) %></td>
  <td><%= @schedule.grab_dates(@schedule.business_year, @schedule.business_week, 6) %></td>
  <td><%= @schedule.grab_dates(@schedule.business_year, @schedule.business_week, 7) %></td>
</tr>
