<tr class='right aligned'>
  <td class='left aligned'>Week <%= @schedule.biz_week %></td>
  <td>Monday</td>
  <td>Tuesday</td>
  <td>Wednesday</td>
  <td>Thursday</td>
  <td>Friday</td>
  <td>Saturday</td>
  <td>Sunday</td>
</tr>
<tr class='right aligned'>
  <td> </td>
  <td><%= Date.commercial(2017, 10, 1).strftime('%m/%d') %></td>
  <td><%= Date.commercial(2017, 10, 2).strftime('%m/%d') %></td>
  <td><%= Date.commercial(2017, 10, 3).strftime('%m/%d') %></td>
  <td><%= Date.commercial(2017, 10, 4).strftime('%m/%d') %></td>
  <td><%= Date.commercial(2017, 10, 5).strftime('%m/%d') %></td>
  <td><%= Date.commercial(2017, 10, 6).strftime('%m/%d') %></td>
  <td><%= Date.commercial(2017, 10, 7).strftime('%m/%d') %></td>
</tr>
