<tr class='left aligned'>
  <td><strong>Managers</strong></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class='right aligned'>
  <td class='left aligned'><%= @schedule.admin.first_name %></td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
  </td>
</tr>
