<tr class='right aligned'>
  <td class='left aligned'><%= team_member.first_name_last_initial %></td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
    <%= render partial: 'schedules/table/day_shifts',
               locals: { employee: team_member, day: 'Monday'} %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
    <%= render partial: 'schedules/table/day_shifts',
               locals: { employee: team_member, day: 'Tuesday'} %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
    <%= render partial: 'schedules/table/day_shifts',
               locals: { employee: team_member, day: 'Wednesday'} %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
    <%= render partial: 'schedules/table/day_shifts',
               locals: { employee: team_member, day: 'Thursday'} %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
    <%= render partial: 'schedules/table/day_shifts',
               locals: { employee: team_member, day: 'Friday'} %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
    <%= render partial: 'schedules/table/day_shifts',
               locals: { employee: team_member, day: 'Saturday'} %>
  </td>
  <td>
    <%= render partial: 'schedules/table/set_shift',
               locals: { f: f } unless @set_shift.nil? %>
    <%= render partial: 'schedules/table/day_shifts',
               locals: { employee: team_member, day: 'Sunday'} %>
  </td>
</tr>
